[Unit]                          
Description=Logstash              

[Service]                       
Type=simple                     
User=lostash                     
Group=lostash                    
# Load env vars from /etc/default/ and /etc/sysconfig/ if they exist.                                                             
# Prefixing the path with '-' makes it try to load, but if the file doesn't                                                       
# exist, it continues onward.   
EnvironmentFile=-/etc/default/lostash                             
EnvironmentFile=-/etc/sysconfig/lostash                           
ExecStart=/usr/share/lostash/bin/lostash "-c /etc/lostash/lostash.yml"                                                                
Restart=always                  
WorkingDirectory=/              

[Install]                       
WantedBy=multi-user.target
